$black: #444444;

.hidden {
  display: none;
}

#medical-issues {
  width: 300px;
}

#doctor-name {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.8;
  li {
    color: gray;
  }

  li:hover{
    cursor: pointer;
    color: $black;
  }
}

h2, h4, p {
  color: $black;
  #specialties {
    font-style: italic;
  }
  #bio {
    margin-top: 20px;
  }
}
